
<div fxLayoutAlign="center center" fxFlexFill class="main-div">

   
    <mat-card fxFlex="25">
        <mat-toolbar  color="primary" style="justify-content:center; ">LOGIN PAGE</mat-toolbar>
        <form fxLayoutAlign="strecth" fxLayout="column" class="login-form">

            <mat-form-field  appearance="outline"  >
                <mat-label>USER-NAME</mat-label>
                <input matInput placeholder="enter your name">
              </mat-form-field>

              <mat-form-field  appearance="outline">
                <mat-label>PASSWORD</mat-label>
                <input matInput type="password" placeholder="enter your password">
              </mat-form-field>

              <button mat-raised-button color="primary" class="button">LOGIN</button>

              <P>Create new account? please <a href="" style="color: red; font-weight: bold;" routerLink="register">register</a></P>

        </form>
    </mat-card>
</div>
