/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
<<<<<<< HEAD
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:  #31b8e6 }
=======
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #0D0D8B }
>>>>>>> 287d90326b26f8f2772273287df4a0a7bba3aa3d
