
<div fxLayoutAlign="center center" fxFlexFill class="main-div">

   
    <mat-card fxFlex="25">
        <mat-toolbar  color="primary" style="justify-content:center; ">REGISTER PAGE</mat-toolbar>
        <form fxLayoutAlign="strecth" fxLayout="column" class="login-form">

            <mat-form-field  appearance="outline"  >
                <mat-label>USER-NAME</mat-label>
                <input matInput placeholder="enter your name">
              </mat-form-field>

              <mat-form-field  appearance="outline">
                <mat-label>PASSWORD</mat-label>
                <input matInput type="password" placeholder="enter your password">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>DATE OF BIRTH</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br>
              
              

              <mat-form-field  appearance="outline">
                <mat-label>E-MAIL</mat-label>
                <input matInput  placeholder="enter your email">
              </mat-form-field>

              <mat-form-field  appearance="outline">
                <mat-label>PHONE</mat-label>
                <input matInput type="number"  placeholder="enter your contact number">
              </mat-form-field>

              <button mat-raised-button color="primary" class="button">REGISTER</button>

              <P>Already have an account?<a href="" style="color: red; font-weight: bold;" routerLink=""> login</a></P>

        </form>
    </mat-card>
      
</div>
